@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
.title-channel{
    margin-top: 0;
    margin-bottom: 1%;
}
.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    padding: 0px;
}
.delete_song{
    margin:1%;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px 0px 10px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.event-list > li > img {
    width: 95%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 13pt;
    font-weight: 600;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 11pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .social > ul > li {
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}


@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        overflow: hidden;
    }

    .event-list > li > .info {
        position: relative;
        text-align: left;
        margin-bottom: 1%;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}

.well {
    min-height: 20px!important;
    padding: 0px !important;
    margin-bottom: 20px!important;
    background-color: #D9D9D9!important;
    border: 1px solid #D9D9D9!important;
    border-radius: 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)!important;
    padding-left: 5px!important;
    border:0px!important;
}
.thumbnail .caption {
    padding: 9px!important;
    color: #333!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.icon-style
{
    margin-right:15px!important;
    font-size:18px!important;
    margin-top:20px!important;
}


.btn-add-card
{
    margin-top:20px!important;
}
.thumbnail {
    display: block!important;
    margin-bottom: 20px!important;
    line-height: 1.42857143!important;
    background-color: #fff!important;
    border: 6px solid #D9D9D9!important;
    -webkit-transition: border .2s ease-in-out!important;
    -o-transition: border .2s ease-in-out!important;
    transition: border .2s ease-in-out!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.thumbnail p{
    margin-bottom: 6%;
}
.btn-join{
    margin: 2% !important;
}
.head{
    margin-bottom: 2% !important;
}

.or {
  display: none;
}

.login-form {
  display: none;
}

.delete{
    cursor: pointer;
}

i{
    cursor: pointer;
}
.report{
    margin-right: 1%;
}

.img-profile{
    width: 200px !important;
    height: 200px !important;
}


label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #16FC1D;
}

#login-buttons a {
  color: #dddddd;
  text-decoration: none;
}

#login-buttons a:hover {
  color: #ffffff;
}
